@{
   

    ViewData["Title"] = "Inicio";
}

<div class="container mt-5">
    <div class="jumbotron">
        <h1 class="display-4">BIENVENIDO MJ BANK DIGITAL</h1>
        <p class="lead">Nuestra plataforma permite gestionar tus depósitos, retiros y préstamos de forma segura y rápida.</p>
        <hr class="my-4">
        <p>Explora las funcionalidades disponibles y mantén el control total de tus finanzas.</p>
    </div>
</div>


<div class="container text-center mt-4">
    <div class="d-flex justify-content-between align-items-center">
        <h4>Bienvenida Diana Tamayo</h4>
    </div>

    <div class="card bg-dark text-white mt-3 p-3">
        <div class="d-flex justify-content-between">
            <div>
                <div>
                    <img src="~/imagenes/tarjeta-de-credito.png" width="25" class="me-2" />Tarjeta Débito
                </div>
                
                <p><strong>1234 5678 9101 1121</strong></p>
                <p>$ 120.000 <small>01/12/26</small></p>
            </div>
            <div>
                <span class="text-success fs-3">$</span>
            </div>
        </div>
    </div>

    <h5 class="mt-4">HOY</h5>
    <div class="list-group">
        <div class="list-group-item bg-lightpink d-flex justify-content-between">
            <div>
                <img src="~/imagenes/tarjeta-de-credito.png" width="25" class="me-2" />
                Amazon
            </div>
            <div>
                <strong>$120.000</strong><br />
                <small>01/12/26</small>
            </div>
        </div>
        <div class="list-group-item bg-lightpink d-flex justify-content-between">
            <div>
                <img src="~/imagenes/tarjeta-de-credito.png" width="25" class="me-2" />
                Exito
            </div>
            <div>
                <strong>$120.000</strong><br />
                <small>01/12/26</small>
            </div>
        </div>
        <div class="list-group-item bg-lightpink d-flex justify-content-between">
            <div>
                <img src="~/imagenes/tarjeta-de-credito.png" width="25" class="me-2" />
                Rappi
            </div>
            <div>
                <strong>$120.000</strong><br />
                <small>01/12/26</small>
            </div>
        </div>
    </div>
</div>

