

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<form id="miPrestamo">
    <input type="text" id="nombreCliente" placeholder="Nombre Cliente" required />
    <input type="text" id="monto" placeholder="Monto" required />
    <input type="date" id="fecha" required />
    <button type="submit">Enviar</button>
</form>

<script>
    document.getElementById('miPrestamo').addEventListener('submit', async function(e) {
      e.preventDefault();

      const data = {
        Nombre: document.getElementById('nombreCliente').value,
        Monto: parseFloat(document.getElementById('monto').value),
        Fecha: document.getElementById('fecha').value,
     
      };

        console.log("Datos enviados:", JSON.stringify(data));

      fetch("https://localhost:5001/api/prestamo/guardar", {
  method: "POST",
  headers: {
    "Content-Type": "application/json",
  },
  body: JSON.stringify(data),
})
.then(response => response.json())
.then(data => console.log("Éxito:", data))
.catch(error => console.error("Error:", error));


    });
</script>